@model IEnumerable<Labb2Linq.Models.Enrollment>

@{
    ViewData["Title"] = "StudentByCourse";
}

<h1>Student by Course</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentName)
                </td>

            </tr>
        }
    </tbody>
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>

</table>
